In [2]:
CREATE SCHEMA iot
GO

: Msg 2714, Level 16, State 6, Line 1
There is already an object named 'iot' in the database.

: Msg 2759, Level 16, State 0, Line 1
CREATE SCHEMA failed due to previous errors.

In [3]:
CREATE TABLE [iot].[locations]
(
    [id] INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
    [owner] NVARCHAR(50) NOT NULL,
    [name] NVARCHAR(50) NOT NULL UNIQUE,
    [nameID] NVARCHAR(50) NOT NULL UNIQUE
);
GO

In [4]:
CREATE TABLE [iot].[messages]
(
    [id] INT NOT NULL IDENTITY(1,1) PRIMARY KEY, -- Primary Key column
    [locationID] INT NOT NULL,
    [timestamp] DATETIME2(0) NOT NULL,
    [readingNumber] INT NOT NULL,
    [temperatureLPS] REAL NOT NULL,
    [temperatureLSM] REAL NOT NULL,
    [temperatureDHT] REAL NOT NULL,
    [pressureLPS] REAL NOT NULL,
    [humidityDHT] REAL NOT NULL,
    [eco2] SMALLINT NOT NULL,
    [tvoc] SMALLINT NOT NULL,
    [wifiDevices] SMALLINT NOT NULL,
    [wifiBaseStations] SMALLINT NOT NULL,
    CONSTRAINT FK_messages_location FOREIGN KEY (locationID)
        REFERENCES [iot].[locations] (id)
        ON DELETE NO ACTION
        ON UPDATE CASCADE
);
GO

In [9]:
CREATE USER azureData WITH PASSWORD = '[ENTER A PASSWORD]';
GRANT INSERT, SELECT TO azureData;

: Msg 15023, Level 16, State 1, Line 1
User, group, or role 'azureData' already exists in the current database.

In [1]:
-- ALTER TABLE [iot].[messages] DROP CONSTRAINT FK_messages_location;
-- DROP TABLE [iot].[messages]

-- DROP TABLE [iot].[locations]