In [125]:
DECLARE @owner NVARCHAR(50), @name NVARCHAR(50), @nameID NVARCHAR(50);  
SET @owner = 'Ethan';
SET @name = 'Churchill 1C';
SET @nameID = 'churchill-1c';

BEGIN TRAN
    IF EXISTS (SELECT l.id FROM [iot].[locations] l WITH (updlock, rowlock, holdlock) where l.nameID = @nameID) BEGIN
        SELECT l.id as id FROM [iot].[locations] l where l.nameID = @nameID;
    END ELSE BEGIN
        INSERT INTO [iot].[locations] (owner, name, nameID)
        -- OUTPUT INSERTED.id into @locID
        VALUES (@owner, @name, @nameID);

        SELECT SCOPE_IDENTITY() as id;
    END;
COMMIT

id
2

In [128]:
INSERT INTO [iot].[messages] ([locationID], [timestamp], [readingNumber], [temperatureLPS], [temperatureLSM], [temperatureDHT], [pressureLPS], [humidityDHT], [eco2], [tvoc], [wifiDevices], [wifiBaseStations])
VALUES (1, dateadd(S, 0, '1970-01-01'), 0, 0.0, 0.0, 0.0, 0.0, 0.0, 1, 1, 1, 1);